#results{
	padding: 5%;
	font-family: 'Muli', sans-serif;

	h4{
		text-transform: uppercase;
		text-align: center;
		margin: 2%;
	}

	img{
		height:100px;
		width: 175px;
		display: block;
		margin: 0 auto;
		padding: 2%;
	}

	p{
		text-transform: uppercase;
		background-color: black;
		color: white;
		letter-spacing: 2px;
	}


}